name: "Windows Release packaging"

on:
  workflow_dispatch:
    inputs:
      cu:
        description: 'cuda version'
        required: true
        type: string
        default: "129"

      python_minor:
        description: 'python minor version'
        required: true
        type: string
        default: "13"

      python_patch:
        description: 'python patch version'
        required: true
        type: string
        default: "6"
#  push:
#    branches:
#      - master

jobs:
  package_comfyui:
    permissions:
        contents: "write"
        packages: "write"
        pull-requests: "read"
    runs-on: self-hosted
    steps:

        - uses: actions/checkout@v4
          with:
            fetch-depth: 150
            persist-credentials: false
        - shell: cmd
          run: |
            :: Create the update batch file
            (
            echo @echo off
            echo call update_comfyui.bat nopause
            echo echo -
            echo echo This will try to update pytorch and all python dependencies.
            echo echo -
            echo echo If you just want to update normally, close this and run update_comfyui.bat instead.
            echo echo -
            echo pause
            echo ..\python_embeded\python.exe -s -m pip install --upgrade torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu${{ inputs.cu }} -r ../ComfyUI/requirements.txt pygit2
            echo pause
            ) > ..\update_comfyui_and_python_dependencies.bat

            :: Prepare dependencies directory
            findstr /v "comfyui" requirements.txt > requirements_nocomfyui.txt
            python -m pip wheel --no-cache-dir torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu${{ inputs.cu }} -r requirements_nocomfyui.txt pygit2 -w ..\cu${{ inputs.cu }}_python_deps

            :: Original packaging logic
            xcopy /E /I /Y . ..\ComfyUI_copy
            cd ..
            curl -L https://www.python.org/ftp/python/3.${{ inputs.python_minor }}.${{ inputs.python_patch }}/python-3.${{ inputs.python_minor }}.${{ inputs.python_patch }}-embed-amd64.zip -o python_embeded.zip
            mkdir python_embeded
            tar -xf python_embeded.zip -C python_embeded
            cd python_embeded
            echo import site >> python3${{ inputs.python_minor }}._pth
            curl -L https://bootstrap.pypa.io/get-pip.py -o get-pip.py
            python.exe get-pip.py
            for %%f in (..\cu${{ inputs.cu }}_python_deps\*.whl) do python.exe -s -m pip install "%%f"

            :: Insert ../ComfyUI at the top of ._pth file
            echo ../ComfyUI > new_pth
            type python3${{ inputs.python_minor }}._pth >> new_pth
            move /y new_pth python3${{ inputs.python_minor }}._pth

            cd ..

            if not exist taesd (
                git clone --depth 1 https://github.com/comfyanonymous/taesd
            )
            xcopy /Y taesd\*.safetensors ComfyUI_copy\models\vae_approx\

            mkdir ComfyUI_windows_portable
            move python_embeded ComfyUI_windows_portable\
            move ComfyUI_copy ComfyUI_windows_portable\ComfyUI

            cd ComfyUI_windows_portable

            mkdir update
            xcopy /E /I /Y ComfyUI\.ci\update_windows\* update\
            xcopy /E /I /Y ComfyUI\.ci\windows_nvidia_base_files\* .\
            copy /Y ..\update_comfyui_and_python_dependencies.bat update\

            cd ..

            "C:\Program Files\7-Zip\7z.exe" a -t7z -m0=lzma2 -mx=9 -mfb=128 -md=768m -ms=on -mf=BCJ2 ComfyUI_windows_portable.7z ComfyUI_windows_portable
            move /y ComfyUI_windows_portable.7z ComfyUI\new_ComfyUI_windows_portable_nvidia_cu${{ inputs.cu }}_or_cpu.7z

            cd ComfyUI_windows_portable
            python_embeded\python.exe -s ComfyUI\main.py --quick-test-for-ci --cpu
            python_embeded\python.exe -s update\update.py ComfyUI\

            dir



            cd ComfyUI_windows_portable
            python_embeded/python.exe -s ComfyUI/main.py --quick-test-for-ci --cpu

            python_embeded/python.exe -s ./update/update.py ComfyUI/

            ls

        # - name: Upload binaries to release
        #   if: false # Skip upload in local run
        #   uses: svenstaro/upload-release-action@v2
        #   with:
        #         repo_token: ${{ secrets.GITHUB_TOKEN }}
        #         file: new_ComfyUI_windows_portable_nvidia_cu${{ inputs.cu }}_or_cpu.7z
        #         tag: "latest"
        #         overwrite: true

